
<header>
          <div class="title_container">
                    <img class="logo_title" src="/img/languana_logo_black.png">
                    <h1>Languana</h1>
          </div>
          <h2>{{title}}</h2>
          <a href="/">Home</a>
          <a href="/translate">Translate</a>
          <a href="/about">About</a>
          <a href="/help">Help</a>
</header>