<div class='legend_body'>
          <h2 class='legend_h'>Legend</h2>
          <div class='legend_item'>
                    <div>Feminine</div>
                    <div class="legend_shape" style="background-color: var(--fem)"></div>
          </div>

          <div class='legend_item'>
                    <div>Masculine</div>
                    <div class="legend_shape" style="background-color: var(--masc)"></div>
          </div>
          <div class='legend_item'>
                    <div>Neuter</div>   
                    <div class="legend_shape" style="background-color: var(--neut)"></div>
          </div>
</div>
